@button-color: #EB8200;
@button-font: white;
@about-us-page-color: rgba(0, 106, 235, 0.10);
@top-font-color: rgb(191, 196, 255);
@top-font-color-ab: rgb(5, 80, 150);

@header-nav-color: #0069EB;

@mobile: ~"(max-width: 500px)";